:root .theme_light {
  --accent-color: #F1B2CE;
  --basic-color: #353430;
  --title-color: #F1B2CE;
  --side-text-color: #353430;
  --side2-text-color: #353430;
  --rgba-outline: rgba(50, 49, 45, 0.40);
  --link-personalization-color: #353430;

}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #F1B2CE;
    --basic-color: #353430;
    --title-color: #F1B2CE;
    --side-text-color: #353430;
    --side2-text-color: #F1B2CE;
    --rgba-outline: rgba(50, 49, 45, 0.40);
    --link-personalization-color: #353430;
    }

    .page {
      background-image: url("../images/cover-image-light.png");
    }
}

.page.theme_light {
  background-image: url("../images/cover-image-light.png");
}

.page.theme_light span {
  display: none;
}